@import "tailwindcss";

:root {
  --background: #0046FF;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-sans-jp);
  /* --font-mono: var(--font-geist-mono); */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0046FF;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
